<div class="header">
  <!-- style="display: flex;" -->
  <div style="display:flex; align-items:center; gap:10px;">
    
      <mat-icon  (click)="toggle()" aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
   
    <div style="height:100%; width: 100%;"><img src="logo-text.png" height="100%" width="100%"></div>
  </div>
 
  <div style="display: flex; align-items:center; gap: 10px;">
    <div><mat-icon fontIcon="circle_notifications"></mat-icon></div>
    <div style="display:flex; align-items:end; padding-bottom:5px;" class="button" [matMenuTriggerFor]="menu">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
       {{profile[0].name}}
  </div>
  </div>
</div>
<mat-menu #menu="matMenu">
  <!-- <button mat-menu-item (click)="gotoProfile()">Profile</button> -->
  <button mat-menu-item> {{profile[0].name}}</button>
  <div style="border-top:1px solid rgba(128, 128, 128, 0.521); border-bottom: 1px solid rgba(128, 128, 128, 0.521) ;">
    <button mat-menu-item> <mat-icon fontIcon="email"></mat-icon>{{profile[0].email}}</button>
    <button mat-menu-item> <mat-icon fontIcon="location_on"></mat-icon>{{profile[0].locationId}}</button>
    <button mat-menu-item> <mat-icon fontIcon="smartphone"></mat-icon>{{profile[0].device_type}}</button>
  </div>
  <button mat-menu-item (click)="gotoLogOut()"><mat-icon fontIcon="logout"></mat-icon> LogOut</button>
</mat-menu>

