.header{
    height: 10vh;
    width: 100vw;
    padding: 0px 30px;
    background-color: antiquewhite;  
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.button{
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 6px;
  }
  .button:hover{
    background-color: rgba(169, 169, 169, 0.233);
  }