<div style="width: 100%; height: 100%; padding: 15px; display:flex; justify-content: space-between;">
    <div class="card">
        <div style="font-size:20px;">Total Rady-to-ship Order</div>
        <div style="display: flex; justify-content: space-between;">
            <div class="icon"><mat-icon style="width:50px;height: 50px; font-size: 50px;"
                    fontIcon="local_shipping"></mat-icon></div>
            <div style="padding-right: 10px; font-size: 40px;">0</div>
        </div>

        <div style="display: flex; font-size: 20px;">
            <div><mat-icon fontIcon="currency_rupee"></mat-icon></div>
            <div>0</div>
        </div>
    </div>

    <div class="card">
        <div style="font-size:20px;">Processed Order</div>
        <div style="display: flex; justify-content: space-between;">
            <div class="icon"><mat-icon style="width:50px;height: 50px; font-size: 50px;"
                    fontIcon="widgets"></mat-icon></div>
            <div style="padding-right: 10px; font-size: 40px;">0</div>
        </div>

        <div style="display: flex; font-size: 20px;">
            <div><mat-icon fontIcon="currency_rupee"></mat-icon></div>
            <div>0</div>
        </div>
    </div>

    <div class="card">
        <div style="font-size:20px;">Dispached Order</div>
        <div style="display: flex; justify-content: space-between;">
            <div class="icon"><mat-icon style="width:50px;height: 50px; font-size: 50px;"
                    fontIcon="unarchive"></mat-icon></div>
            <div style="padding-right: 10px; font-size: 40px;">0</div>
        </div>

        <div style="display: flex; font-size: 20px;">
            <div><mat-icon fontIcon="currency_rupee"></mat-icon></div>
            <div>0</div>
        </div>
    </div>

</div>