<div class="parent">
    <div class="dot">
        <div class="dot1"></div>
        <div class="dot2"></div>
        <div class="dot3"></div>
    </div>
    <div class="heading">
        <div class="heading1">
            <div>
                <h3>Untitled UI</h3>
            </div>
            <div>
                <h5>Home</h5>
            </div>
            <div>
                <h5>Dashboard</h5>
            </div>
            <div>
                <h5>projects</h5>
            </div>
            <div>
                <h5>Task</h5>
            </div>
            <div>
                <h5>Reporting</h5>
            </div>
            <div>
                <h5>User</h5>
            </div>
        </div>

        <div class="heading2">
            <button mat-button disabled>Upgrad Now
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="electric_bolt"></mat-icon>
            </button>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="notifications"></mat-icon>
            <div class="prifilepicture"></div>
        </div>
    </div>

    <div class="setting">
        <h4>Setting</h4>
    </div>

    <!-- <div style="display:flex;"> -->

        <!-- <div class="sidebar" style="height: 70px; color: black; width:170px; border: 1px solid black;">
            <p>My Profile</p>
            <p>Details</p>
            <p>Profile</p>
            <p>password</p>
            <p>Team</p>
        </div> -->
        <!-- <div style="border:1px solid black; height:100vh; width: 100vw; margin-left: 300px;"> -->
            <div class="background"></div>
            <div class="profilename">
                <div style="display: flex;">
                    <div class="image">
                    </div>
                    <div>
                        <div>
                            <h3>profile</h3>
                        </div>
                        <div>Update your photo and personal details</div>
                    </div>
                </div>
                <div>
                    <button>Cancle</button>&nbsp;
                    <button>Save</button>
                </div>
            </div>
            <div class="username">
                <div>UserName</div>
                <div style="display: flex;">
                    <div class="link">http/</div>
                    <input type="text" placeholder="olivia">
                </div>
            </div>

            <div class="username">
                <div>website</div>
                <div style="display: flex;">
                    <div class="link">http/</div>
                    <input type="text" placeholder="www.Untitledui.com">
                </div>
            </div>

            <div class="photo">
                <div>your photo
                    <p>This will be displayed on your profile</p>
                </div>
                <div class="middleimg"></div>
                <div style="display: flex;">
                    <button style="width:60px;">Delete</button>&nbsp;
                    <button style="width: 60px;">Update</button>
                </div>
            </div>

            <div class="photo">
                <div>your bio
                    <p>Write a short introduction</p>
                </div>
                <div style="display:flex; flex-direction:column; width: 30%;">
                    <div style="display: flex;">
                        <mat-form-field appearance="fill">
                            <mat-label>Choose an option</mat-label>
                            <mat-select>
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="format_bold"
                            class="maticon"></mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="format_italic"
                            class="maticon"></mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="link"
                            class="maticon"></mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon=" format_list_bulleted"
                            class="maticon"></mat-icon>
                        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="format_list_numbered"
                            class="maticon"></mat-icon>
                    </div>
                    <div style="width: 100%;">
                        <textarea style="height: 20px; width: 100%;"></textarea>
                    </div>
                </div>

            </div>
            <div class="photo">
                <div>job title</div>
                <div style="display: flex; flex-direction: column; gap: 10px;">
                    <div><input type="text" placeholder="product designer"></div>
                    <div><input type="checkbox" style="height:15px; width:15px;">&nbsp;<span>Show my job title in my
                            profile</span></div>

                </div>
            </div>

            <div class="photo">
                <div>Alternative contact email
                    <p>Enter an alternative email if you'd like to be</p>
                </div>

                <div class="lastfield" placeholder="fsdf">
                    <div><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon></div>
                    <!-- <div><input type="text"placeholder="example@example.com"></div> -->
                </div>
            </div>




        <!-- </div> -->

    <!-- </div> -->
        



 


</div>