
/* .homechild{
    padding-top: 10px;
    margin-left:95%;
} */

.example-container {
    width: 100vw;
    height: 90vh;
    /* border: 1px solid rgba(0, 0, 0, 0.5); */
  }
  
  .example-sidenav-content {
    /* display: flex; */
    height: 100%;
    /* align-items: center;
    justify-content: center; */
 
  }
  .example-sidenav {
    padding: 20px;
  }
 
  .button:hover{
    background-color: rgba(169, 169, 169, 0.233);
  }