<app-header></app-header>


<div>
  <mat-drawer-container class="example-container" autosize >
    <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="myservice.istoggle">

      <mat-accordion *ngFor="let ele of menuarray">

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
            <mat-icon style="font-size:smaller;">{{ele.icon}}</mat-icon>
             {{ele.title}}
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <div *ngFor="let value of ele.children"><button mat-button [routerLink]="value.url">{{value.title}}</button></div> 
        </mat-expansion-panel>
      </mat-accordion>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>  