<div class="home">
      <div class="button" [matMenuTriggerFor]="menu">
        <mat-icon  aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon>
      </div>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="gotoProfile()">Profile</button>
      <button mat-menu-item>dhruv@gmail.com</button>
      <button mat-menu-item (click)="gotoLogOut()">LogOut</button>
      </mat-menu>

      <div style="position: absolute; top: 10px;" class="example-sidenav-content">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon  aria-hidden="false" aria-label="Example home icon" fontIcon="menu"></mat-icon>
        </button>
      </div>
</div>
<div>
  <mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
    </mat-drawer>
  </mat-drawer-container>
</div>


